* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(55deg, #1a2a6c, #b21f1f, #dbb052);
  color: #fff;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: monospace,sans-serif;
}

.user-form {
  width: 100%;
  max-width: 600px;
}

.user-form input {
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 12px;
  color: #fff;
  padding: 0.8rem 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.user-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.user-form input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid #ff6347;
  box-shadow: 0 4px 10px rgba(255, 99, 71, 0.6);
}

.card {
  max-width: 720px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 2rem;
  margin: 0 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.avatar {
  border-radius: 50%;
  border: 2px solid #1a2a6c;
  height: 120px;
  width: 120px;
  transition: border-color 0.3s ease;
}

.card:hover .avatar {
  border-color: #fdbb2d;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #f78e39;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
  margin-top: 1rem;
  padding-bottom: 1rem
}

.user-info ul li {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.user-info ul li strong {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: #3d0404;;
  background: linear-gradient(180deg, #db5e48, #ddb410);
  font-size: 0.8rem;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.repo:hover {
  background: linear-gradient(135deg, #ffdd57, #ff6347);
  transform: scale(1.01);
}


footer {
  background: linear-gradient(55deg, #1a2a6cb9, #b21f1f81, #dbb05236);
  color: black;
  text-align: center;
  padding: 2px;
  border-top: 2px solid transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

footer a {
  text-decoration: none;
  color: tan;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .user-form {
    max-width: 350px;
  }

  .user-info {
    margin-left: 0;
  }

  .user-info ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
